.dashboard{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
    height: 100vh;
}

.kpi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100vw;
}

.meio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100vw;
}

.fim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100vw;
}